<h1>Add Employee</h1>

<form action="/employees" method="POST">

    <input
        type="text"
        name="employee[employeeId]"
        placeholder="Employee ID">

    <input
        type="text"
        name="employee[name]"
        placeholder="Name">

    <input
        type="text"
        name="employee[department]"
        placeholder="Department">

    <input
        type="email"
        name="employee[email]"
        placeholder="Email">

    <input
        type="text"
        name="employee[phone]"
        placeholder="Phone">

    <input
        type="text"
        name="employee[designation]"
        placeholder="Designation">

    <button>Add Employee</button>

</form>