<div class="sidebar">

    <div class="logo">

        <h2>
            <i class="fa-solid fa-boxes-stacked"></i>
            AssetFlow
        </h2>

    </div>

    <ul>

        <li>
            <a href="/dashboard">
                <i class="fa-solid fa-house"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a href="/assets">
                <i class="fa-solid fa-laptop"></i>
                Assets
            </a>
        </li>

        <li>
            <a href="/employees">
                <i class="fa-solid fa-users"></i>
                Employees
            </a>
        </li>

        <li>
            <a href="/departments">
                <i class="fa-solid fa-building"></i>
                Departments
            </a>
        </li>

        <li>
            <a href="/allocations">
                <i class="fa-solid fa-share-from-square"></i>
                Allocations
            </a>
        </li>

        <li>
            <a href="/bookings">
                <i class="fa-solid fa-calendar-check"></i>
                Bookings
            </a>
        </li>

        <li>
            <a href="/maintenance">
                <i class="fa-solid fa-screwdriver-wrench"></i>
                Maintenance
            </a>
        </li>

        <li>
            <a href="/audit">
                <i class="fa-solid fa-clipboard-check"></i>
                Audit
            </a>
        </li>

        <li>
            <a href="/reports">
                <i class="fa-solid fa-chart-line"></i>
                Reports
            </a>
        </li>

        <li>
            <a href="/settings">
                <i class="fa-solid fa-gear"></i>
                Settings
            </a>
        </li>

    </ul>

    <div class="logout">

        <a href="/logout">

            <i class="fa-solid fa-right-from-bracket"></i>

            Logout

        </a>

    </div>

</div>