<h1>Add Department</h1>

<form action="/departments" method="POST">

<input
type="text"
name="department[departmentName]"
placeholder="Department Name">

<br><br>

<input
type="text"
name="department[departmentHead]"
placeholder="Department Head">

<br><br>

<input
type="text"
name="department[location]"
placeholder="Location">

<br><br>

<textarea
name="department[description]"
placeholder="Description">
</textarea>

<br><br>

<button>Create Department</button>

</form>